<header class="border-b shadow-md p-3 w-full max-h-20 fixed top-0 z-50 bg-gray-100 ">
  <link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet">

  <div class="flex align-middle items-center justify-between w-full mx-auto">
    <img routerLink="/" src="/images/logo.png" alt="app logo" class="max-h-16 ml-11 pl-2 transform scale-150">
    <nav class="flex gap-8 my-2 uppercase text-2xl">
      <span *ngIf="isHomePage" class="text-gray-600 font-semibold">Welcome to our gaming store!</span>
      <a *ngIf="!isHomePage" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
      <a *ngIf="!isHomePage" routerLink="/shop" routerLinkActive="active">Shop</a>
      <a *ngIf="!isHomePage" routerLink="/shop" [queryParams]="{ platform: 'PC' }" routerLinkActive="active">PC</a>
      <a *ngIf="!isHomePage" routerLink="/shop" [queryParams]="{ platform: 'Nintendo' }" routerLinkActive="active">Nintendo</a>
      <a *ngIf="!isHomePage" routerLink="/shop" [queryParams]="{ platform: 'PlayStation' }" routerLinkActive="active">PlayStation</a>
      <a *ngIf="!isHomePage" routerLink="/shop" [queryParams]="{ platform: 'Xbox' }" routerLinkActive="active">Xbox</a>
      <a *ngIf="!isHomePage" routerLink="/shop" [queryParams]="{ platform: 'Mobile' }" routerLinkActive="active">Mobile</a>
      <a *ngIf="!isHomePage"  routerLink="/about" routerLinkActive="active">About</a>
      <a [hidden]="isHomePage"  *appIsAdmin routerLink="/test-error" routerLinkActive="active">Errors</a>
      <a [hidden]="isHomePage"  *appIsAdmin routerLink="/admin" routerLinkActive="active">Admin</a>
    </nav>
    <div class="flex gap-3 align-middle justify-end mr-5">
      <a
        routerLink="/cart"
        routerLinkActive="active"
        matBadge="{{cartService.itemCount()}}"
        matBadgeSize="large"
        class="custom-badge mt-2 mr-2">
        <mat-icon>shopping_cart</mat-icon>
      </a>
      @if (accountService.currentUser()) {
        <button mat-button [mat-menu-trigger-for]="menu">
          <mat-icon>arrow_drop_down</mat-icon>
          <span>{{ accountService.currentUser()?.email }}</span>
        </button>

      } @else {
        <button routerLink="/account/login" mat-stroked-button>Login</button>
        <button routerLink="/account/register" mat-stroked-button>Register</button>

      }

    </div>
  </div>
</header>

@if (busyService.loading) {
  <mat-progress-bar mode="indeterminate" class="fixed top-20 z-50"></mat-progress-bar>
}

<mat-menu #menu="matMenu" class="py-4 px-4 min-w-[220px] shadow-lg rounded-lg bg-white">
  <button mat-menu-item class="flex items-center gap-4 px-3 py-2 hover:bg-gray-200 rounded-md" routerLink="/cart">
    <mat-icon class="text-gray-600 pr-9">shopping_cart</mat-icon>
    <span class="font-medium text-gray-700">My cart</span>
  </button>
  <button mat-menu-item class="flex items-center gap-4 px-3 py-2 hover:bg-gray-200 rounded-md" routerLink="/orders">
    <mat-icon class="text-gray-600 pr-9">history</mat-icon>
    <span class="font-medium text-gray-700">My orders</span>
  </button>
  <button mat-menu-item class="flex items-center gap-4 px-3 py-2 hover:bg-gray-200 rounded-md" routerLink="/account/profile">
    <mat-icon class="text-gray-600 pr-9">person</mat-icon>
    <span class="font-medium text-gray-700">Profile</span>
  </button>

  <mat-divider></mat-divider>

  <!-- Logout -->
  <button mat-menu-item class="flex items-center gap-4 px-3 py-2 hover:bg-red-100 rounded-md" (click)="logout()">
    <mat-icon class="text-red-600 pr-9">logout</mat-icon>
    <span class="font-medium text-red-600">Logout</span>
  </button>
</mat-menu>


